<html>
    
    
    
    {% block head %}
        <head>
            {% block css %}
                
                <link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet">
                <title>Comparte Tu Coche - Bienvenido a la plataforma de compartir coche</title>
            
            {% endblock %}
            
        </head>
    {% endblock %}
   
   
    {% block contenido %}
        <body>
        
        
        
        
            {% block bloque 1 %}
                <div>Bloque 1</div>
            {% endblock %}
            
            {% block bloque 2 %}
                <div>Bloque 2</div>
            {% endblock %}
            
            {% block bloque 3 %}
                <div>Bloque 3</div>
            {% endblock %}
            
            
        
        
        
        
        
        </body>
    {% endblock %}
    
</html>